body {
    font-family: 'Hind', sans-serif!important;
    color: #666!important;
    font-size: 16px;
}

a {
    color: #666;
}

.logo {
    max-width: 220px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 99;
}

p.text {
    line-height: 1.2;
}

.navbar-brand {
    height: auto;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-nav li a {
    position: relative;
    padding: 20px 25px;
    color: #fff;
}

.navbar-nav li a:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
    right: 0;
    content: "/";
    color: #fff!important;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-toggle span {
    background-color: #3498db;
}

.collapse.in,
.collapsing {
    background-color: #3498db;
}

.navbar-nav li:last-child a:after {
    display: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #3498db;
}

.banner-bg {
    height: 70vh;
    background-size: cover!important;; 
}

.sectionarea-banner .banner-bg {
    height: 100vh;
}

section {
    position: relative;
    overflow-x: hidden;
}


.diagonal-01 {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 170px 0 0px 100vw;
    border-color: transparent  transparent transparent #fff; 
    transform: scale(1.0001);
}

.diagonal-02 {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 100vw 170px 0;
    border-color: transparent #fff transparent transparent;
    transform: scale(1.0001);
}


.form-container {
    margin-bottom: 30px;
}

.form-container .form-item {
    width: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.form-container .forms {
    margin-bottom: 0;
}

.form-container .forms a {
    background-color: #3498db;
    display: block;
    padding: 4em 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

.form-container .forms a span {
    display: block;
    font-size: 60%;
}

.category-section h2.head {
    color: #3498db;
    margin-bottom: 20px;
}

.category-section p.text {
    margin-bottom: 15px;
    color: #2980b9;
}

.pledge-container {
    text-align: center;
    margin-bottom: 30px;
}

.pledge-container h3.head {
    color: #e74c3c;
    margin: 0;
}

.pledge-container h1.head {
    font-size: 500%;
    color: #2980b9;
    line-height: 1;
}

.pledge-container h3.head span {
    color: #2980b9;
}

.pledge-container .button {
    margin: 30px 0 20px;
}

.pledge-container .button a {
    border: 1px solid #2980b9;
    padding: 7px 25px 5px;
    display: inline-block;
    text-decoration: none;
    transition: ease all .5s;
}

.pledge-container .button a:hover {
    background-color: #2980b9;
    color: #fff;
}

.pledge-container p.text {
    text-align: left;
    color: #2980b9;
}

.view .banner-bg {
    position: relative;
}

.center-content-y {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
    width: 100%;
}

.center-content-yx {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
    width: 100vw;
    text-align: center;
}

.center-content-y p {
    color: #fff;
}

.center-content-yx h2 {
    font-size: 400%;
    color: #2980b9;
    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
}

.border-blue {
    border-top: 6px solid #3498db;
}

.take-pledge {
    padding: 20px 0 18px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
}

.take-pledge h2 {
    margin: 0;
}

footer {
    overflow: hidden;
    padding: 5em 20px 5em;
}

footer h3 {
    color: #e74c3c;
}

footer p.text {
    color: #2980b9;
}

.social-icons {
    margin-top: 50px;
    text-align: center;
    padding: 0;
}

.social-icons li {
    width: 20%;
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
}

.first {
    -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 76%);
    clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 76%);
    z-index: 99;
}

.first:before {
    -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
    background: #3498db;
    content: '';
    position: absolute;
    left: 0;
    bottom: -75%;
    right: 0;
    height: 100%;
    display: block;
    z-index: 9;
}

.second {
    z-index: 97;
    margin-top: -170px;
}


.third {
    z-index: 98;
    margin-top: -200px;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.third:before {
    -webkit-clip-path: polygon(0 26%, 94% 0, 102% 69.5%, 0 100%);
    clip-path: polygon(0 26%, 94% 0, 102% 69.5%, 0 100%);
    background: #3498db;
    content: '';
    position: absolute;
    left: 0;
    top: -69%;
    right: 0;
    height: 100%;
    display: block;
    z-index: 9;
}

@media screen and (max-width: 768px) {
    .navbar-nav li a:after {
        display: none;
    }
    .last-img p {
        width : fit-content;
        display: table;
        margin: auto;
    }
}

@media screen and (max-width: 420px) {
    .form-container .form-item {
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}